@model RSB_Ofish_System.Models.ViewModels.ListResultVM<RSB_Ofish_System.Models.ViewModels.OfishListVM>
@{
    int counter = 1;
}
<h2 style="padding-right:12px;">@Model.ListTitle</h2>



<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                کد ملی
            </th>
            <th>
                نام و نام خانوادگی
            </th>
            <th>
                اداره / واحد
            </th>
            <th>
                ملاقات شونده
            </th>
            <th>
                تاریخ ورود<span><i class="icon-calendar"></i></span>
            </th>
            <th>
                تاریخ خروج<span><i class="icon-calendar"></i></span>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody id="dataList">
        @foreach (var item in Model.DataList)
        {
            <tr>
                <td>
                    @counter
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NationCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Office)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfishDate)
                </td>
                <td>
                    @if (item.IsExited)
                    {
                        @Html.DisplayFor(modelItem => item.ExitDateTime)
                    }
                </td>
                <td>
                    <button onclick="showCard('@item.Id')" type="button" class="btn btn-default" title="نمایش مدرک شناسائی">

                        <i class="fa fa-credit-card"></i>

                    </button>

                    |
                    @if (!item.HasnotVehicle)
                    {
                <button onclick="showVehicle('@item.Id')" type="button" class="btn btn-default" title="نمایش وسیله نقلیه">
                   
                    <i class="fa fa-automobile"></i>

                </button>
                    }


                    @if (!item.IsExited)
                    {

                        <button onclick="Exit('@item.Id')" type="button" class="btn btn-warning" title="ثبت خروج">

                            <i class="fa fa-sign-out"></i>

                        </button>

                    }

                </td>


            </tr>
            counter += 1;
        }
    </tbody>
</table>

@section Scripts{
    

}

<partial name="_pagination" />