@model RSB_Ofish_System.Models.DataBaseModels.Ofish

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ofish</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Office)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Office)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PicPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PicPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OffishTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OffishTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExitTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExitTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModified)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
